
<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
        <a mat-list-item routerLink='DB'>DashB </a>
        <a mat-list-item routerLink='crew'>Crew</a>
        <a mat-list-item routerLink='youth'>Youth</a>
        <button mat-button><a mat-list-item routerLink=''>Log-out</a></button>
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>Main content
      <br>
      <p>admins works!</p>
  </mat-sidenav-content>
</mat-sidenav-container>
